<% if(typeof errors != 'undefined') { errors.forEach(function(error){ %> <a class="btn red darken-2 waves-effect waves-light"><%= error.msg %></a> <% }); } %>
<% if(error != '') { %> <a class="btn red darken-2 waves-effect waves-light"><%= error %></a> <% } %>